# Файл конфигурации с секретными ключами (создадим его следующим)
config.py

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение (если будете использовать)
venv/
env/

# Файлы настроек IDE
.vscode/
.idea/

# Логи
*.log

# Файлы операционной системы
.DS_Store
Thumbs.db
